storage/**
.bash_extras
.bash_history
.bash_logout
.bash_profile
.bashrc
.ftpaccess
.gitconfig
.viminfo
www
php.ini
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.env.example
.gitattributes
CHANGELOG.md
/storage/app
/public/images
*.zip
mix-manifest.json
package-lock*.json
