// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.gestao-imagens-imovel {
    border: 1px solid #ccc;
    margin: 20px -10px;
    padding: 10px;
    background: #efefef;
    text-align: center;
}

#container-anuncio-fotos {
    margin: 0 auto;
    width: fit-content;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    background: #2356ab;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
    background: #6296ed;
}

div#slider-range {
    margin: 20px 10px 5px;
}

.small-img-controls {
    width: 10%;
    padding: 10px 02px;
}

.small-img-controls img {
    width: 100%;
}

.detail-image-carousel {
    height: 440px;
    object-fit: cover;
    background: #404040;
}

.detail-image-carousel img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 100%;
}

.nav-item.active {
    border-bottom: 2px solid #2356ab;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    background: #404040;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.fontMenu {
    color: white;
}

.fundoDashbord {
    background: #404040
}

.dashBordTitulo {
    font: size 30px;
    color: #404040
}

.dashbordFont {
    //font-size: 90px;
    color: lightseagreen
}

.dashbordCard.dashbordFont :hover {
    background-color: dodgerblue;
    color: white;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}