        p, div, h1, h2, h4, ul, hr {
            padding:0;
            margin:0;
        }
        
        h1,h2,h3,h4 {
            text-transform: uppercase;
        }
            
        body {
            font-family: Verdana, Geneva, sans-serif;
            display: flex;
            flex-wrap: wrap;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
        }
        
        header, footer {
            color: #fff;
            flex-basis: 100%;
        }
        
        article, footer {
            width:100%;
        }
        
        .banner-principal {
            height: 70vh;
            margin-top: 10px;
            background-image: url(../img/destaque-home.png);
            background-position: right;
            background-size: cover;
        }
        
        .container.search {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0;
        }
        
        .logo-flx img {
            height: 90px;
            width: auto;
        }
        
        .menu-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .destaques {
            background: #6296ed;
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: #fff;
            padding: 10px 0;
        }
        
        .destaques h2{
            font-size:18px;
        }
        
        .cards-vendas, .cards-locacao, .cards-lancamentos {
            margin: 15px -15px;
        }
        
        h4.card-title {
            font-size: 14px;
            color: forestgreen;
            font-weight: 600;
        }
        
        .menu-footer{
            background: #2356AB;
        }
        
        .footer-anuncio-gratis{
            color: #2356AB;
            background:#fff;
            padding: 10px;
            width: 240px;
        }
        
        .container-fluid.menu-footer .container {
            padding: 50px 20px 50px 50px;
        }
        
        .logo-footer {
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
        }
        
        .menu-footer ul {
            padding-left: 15px;
            font-size: 14px;
        }
        
        .menu-footer ul li {
            line-height: 30px;
        }
                
        .titulo-busca {
            background: #2356ab;
            color: #fff;
            text-transform: uppercase;
            padding: 15px;
            margin-bottom: 3px;
        }
        
        .select-busca button {
            background: #6296ed;
            border: none;
            width: 32%;
            height: 100%;
            color:#fff;
            text-transform:uppercase;
        }
        
        .container-fluid.search {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 285px;
            width: 750px;
        }
        
        .search-banner-principal {
            margin-top: 15px;
        }
        
        .forget-password {
            clear: both;
        }
        
        .inputs-login {
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 170px;
            
        }
        .container-content {
            min-height: calc(100vh - 201px);
            padding-top: 35px;
            width: 85%;
            margin: 0 auto;
        }
        
        .container-home{
            min-height: calc(100vh - 200px);
            margin: 30px 0 100px 0;
        }
        
        
        .left-block {
            border-right: 1px solid #000;
            width: 93%;
        }
        
        
        .title-login {
            margin: 0px 0 20px 0;
        }
        
        .inputs-login input {
            width: 275px;
        }
        
        .title-login h4 {
            font-size: 30px;
        }
        
        .login-register p {
            font-size: 11px;
        }
        
        .login-register {
            width:85%;
        }
        
        .btn-register {
            display: flex;
            justify-content: center;
            margin: 25px auto 0 auto;
            background: #1a679e;
            align-items: center;
            width: 110px;
            height: 40px;
        }
        
        .btn-register a{
            color:#fff;
            text-decoration: none;
        }
        
        .btn-login {
            display: flex;
            justify-content: flex-end;
        }
        
        .btn-flx {
            background: #1a679e;
            color: #fff;
            border: 1px solid #3c3cc6;
            height: 40px;
            width: 110px;
        }

        input[type="text"] {
            width: 100%;
            height: 40px;
        }
        
        .bloco-anunciar {
            margin-bottom: 30px;
        }
        
        .cadastro-geral {

            min-height: 100vh;
        }
        
        .bloco-cadastro-imovel, .bloco-titulo-cadastro, .bloco-endereco,
        .dados-imovel, .status-imovel, .valor-imovel, .area-comuns,
        .area-privativa {
            margin-bottom: 10px;
        }
        
        .form-row {
            margin-bottom: 5px;
        }
                
        .container-content select {
            width: 100%;
            height: 40px;
            background-image: linear-gradient(#d6d0d0, #f9f9f3);
        }
        
        .container-content h4 {
            color: #1a679e;
            font-weight: 600;
            padding-top: 10px;
        }
        
        .bloco-endereco {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 10%;
        }
        
        .dados-imovel {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 16%;
        }
        
         input[type="date"]:before {
            content: attr(placeholder) !important;
            color: #aaa;
            margin-right: 0.5em;
          }
          input[type="date"]:focus:before,
          input[type="date"]:valid:before {
            content: "";
          }
          
        #remember {
            margin-top: 2px;
        }

          .nav-anuncio-gratis {
            background: #2356AB;
            padding: 10px;
        }
        
        
        .container-register {
            width: 85%;
            margin: 0 auto;
        }
        
        .card-senha {
            justify-content: center;
                width: 100%;
        }
        
        .container-redefinicao {
            justify-content: center;
            align-items: center;
            display: flex;
            margin-top: 50px;
        }
        
        .card.container-email {
            height: 320px;
        }
        
        .btn-solicitar-senha button {
            width: 130px;
        }
        
        .cards-flx {
            background: #1a679e;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .container-form-redefinicao {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
        }
        
        .inputs-reset-password{
            
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        
        .inputs-reset-password input {
            width: 80%;
            margin-bottom: 20px;
        }
        
        .icones-home{
            width:25px;
        }
        
        .card-body.icones-card {
            display: flex;
            justify-content: space-between;
            width: 80%;
        }
        
        .icone-info {
            font-size: 12px;
        }

     
        .container.area-busca {
            display: flex;
            padding:0px;
        }
        
        .container-busca {
            width: 90%;
        }
        
        .class-3 {
            width: 10%;
            background: #16315e;
            margin: 0;
            padding: 0;
        }
        
        .class-2 .row .col-sm-12 {
            display: flex;
        }
        
        .class-2 {
            margin-top: 5px;
        }
        
        .class-1 .col-md-2 {
            padding: 0;
        }
        
        .select-busca, .select-infos-imovel, .select-imovel, .class-1 input[type="text"]{
            width: 100%;
            height: 50px;
            background: #6296ed;
            border:none;
        }
        
        .select-infos-imovel, .select-imovel {
            
            padding: 0px 12px;
            color: #fff;
            text-transform: uppercase;
        }
        
        .select-infos-imovel{
            background: #2356AB;
            border: none;
            font-size: 14px;
            padding: 0;
        }
        
        .btn-search {
            width: 100%;
            height: 100%;
            background: #16315e;
            color:#fff;
            border:none;
        }
        
        .title-search-home {
            margin-bottom: 15px;
            font-size: 39px;
            color:#fff;
            font-weight: 500;
        }
        
        .destaques-buscas {
            border-bottom: 1px solid #000;
            margin-bottom: 15px;
            padding: 15px 0px;
        }
        
        .container-body {
            height: 100%;
            flex-direction: column;
            display: flex;
            justify-content: space-between;
        }
        
        .info-buscar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100% - 45px);
        }
        
        .container-body h4 {
            color: #2356ab;
            font-weight: 600;
        }
        
        .title-buscar-imovel h6 {
            font-size: 20px;
            color: #6296ed;
        }

        .icon-buscar-imovel {
            display: flex;
            justify-content: space-between;
            width: 50%;
        }
        