        p, div, h1, h2, h4, ul, hr {
            padding:0;
            margin:0;
        }
        
        h1,h2,h3,h4 {
            text-transform: uppercase;
        }
            
        body {
            font-family: Verdana, Geneva, sans-serif;
            display: flex;
            flex-wrap: wrap;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
        }
        
        header, footer {
            color: #fff;
            flex-basis: 100%;
        }
        
        article, footer {
            width:100%;
        }
        
        .banner-principal {
            background: pink;
            height: 30vh;
            margin-top: 10px;
        }
        
        .menu-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .destaques-home {
            background: cadetblue;
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: #fff;
            padding: 5px 0;
        }
        
        .destaques-home h2{
            font-size:18px;
        }
        
        .cards-vendas, .cards-locacao, .cards-lancamentos {
            margin: 15px 0;
        }
        
        h4.card-title {
            font-size: 15px;
            color: forestgreen;
            font-weight: 600;
        }
        
        .menu-footer{
            background: royalblue;
        }
        
        .titulo-busca {
            background: cadetblue;
            color: #fff;
        }
        
        .select-busca button {
            background: darkseagreen;
            border: none;
            width: 32%;
        }
        
        .container-fluid.search {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 285px;
            width: 750px;
        }
        
        .search-banner-principal {
            margin-top: 15px;
        }
        
        .col-12 h1 {
            font-size: 22px;
            color: #fff;
            font-weight: 700;
        }

        .forget-password {
            clear: both;
        }
        
        .inputs-login {
            width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 170px;
            
        }
        .container-content {
            min-height: calc(100vh - 201px);
            padding-top: 35px;
            width: 85%;
            margin: 0 auto;
        }
        
        .container-home{
            min-height: calc(100vh - 200px);
        }
        
        
        .left-block {
            border-right: 1px solid #000;
            width: 93%;
        }
        
        
        .title-login {
            margin: 0px 0 20px 0;
        }
        
        .inputs-login input {
            width: 275px;
        }
        
        .title-login h4 {
            font-size: 30px;
        }
        
        .login-register p {
            font-size: 11px;
        }
        
        .login-register {
            width:85%;
        }
        
        .btn-register {
            display: flex;
            justify-content: center;
            margin: 25px auto 0 auto;
            background: #1a679e;
            align-items: center;
            width: 110px;
            height: 40px;
        }
        
        .btn-register a{
            color:#fff;
            text-decoration: none;
        }
        
        .btn-login {
            display: flex;
            justify-content: flex-end;
        }
        
        .btn-flx {
            background: #1a679e;
            color: #fff;
            border: 1px solid #3c3cc6;
            height: 40px;
            width: 110px;
        }

        input[type="text"] {
            width: 100%;
            height: 40px;
        }
        
        .bloco-anunciar {
            margin-bottom: 30px;
        }
        
        .cadastro-geral {

            min-height: 100vh;
        }
        
        .bloco-cadastro-imovel, .bloco-titulo-cadastro, .bloco-endereco,
        .dados-imovel, .status-imovel, .valor-imovel, .area-comuns,
        .area-privativa {
            margin-bottom: 10px;
        }
        
        .form-row {
            margin-bottom: 5px;
        }
                
        .container-content select {
            width: 100%;
            height: 40px;
            background-image: linear-gradient(#d6d0d0, #f9f9f3);
        }
        
        .container-content h4 {
            color: #1a679e;
            font-weight: 600;
            padding-top: 10px;
        }
        
        .bloco-endereco {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 10%;
        }
        
        .dados-imovel {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 16%;
        }
        
         input[type="date"]:before {
            content: attr(placeholder) !important;
            color: #aaa;
            margin-right: 0.5em;
          }
          input[type="date"]:focus:before,
          input[type="date"]:valid:before {
            content: "";
          }
          
        #remember {
            margin-top: 2px;
        }

          .nav-anuncio-gratis {
            background: #1a679e;
            padding: 10px;
        }
        
        
        .container-register {
            width: 85%;
            margin: 0 auto;
        }
        
        .card-senha {
            justify-content: center;
                width: 100%;
        }
        
        .container-redefinicao {
            justify-content: center;
            align-items: center;
            display: flex;
            margin-top: 50px;
        }
        
        .card.container-email {
            height: 320px;
        }
        
        .btn-solicitar-senha button {
            width: 130px;
        }
        
        .cards-flx {
            background: #1a679e;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
        }
        
        .container-form-redefinicao {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
        }
        
        .inputs-reset-password{
            
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        
        .inputs-reset-password input {
            width: 80%;
            margin-bottom: 20px;
        }
